<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhereDoesItGo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>WhereDoesItGo</h1>
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
        <form action="/" method="POST">
            <input type="text" name="url" placeholder="URL">
            <br>
            <input type="checkbox" name="strip_query_string" id="strip_query_string" value="true">
            <label for="strip_query_string">Strip query strings</label>
            <br>
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>
